/**
* @name Bubblecord 
* @author doggybootsy#1333
* @description Makes Discord Bubbly
* @version 1.4
*/

@import url("https://rawcdn.githack.com/doggybootsy/bubblecord/cdcfc7c1bb39df4e3ff070e1593a81fcc0f99fb9/Import.css");

:root{
  --online:#43b581;
  --dnd:#f04747;
  --idle:#faa61a;
  --offline:rgb(116, 127, 141);
  --streaming:rgb(89, 54, 149);
}
