@-moz-document domain("discord.com") {
/* ==UserStyle==
@name           BubbleCord
@namespace      https://github.com/doggybootsy/bubblecord
@version        1.1
@description    Makes Discord Bubbly
@author         Doggybootsy#1333
==/UserStyle== */

@import url(https://raw.githack.com/doggybootsy/bubblecord/main/src/base.css);
  @import url(https://raw.githack.com/doggybootsy/bubblecord/main/src/Userpopouts.css);
  @import url(https://raw.githack.com/doggybootsy/bubblecord/main/src/No_white_Status_badges.css);
  @import url(https://raw.githack.com/doggybootsy/bubblecord/main/src/settings.css);
  
  :root{
    /* For UserStatus */
  --online:#43b581;
  --dnd:#f04747;
  --idle:#faa61a;
  --offline:rgb(116, 127, 141);
  --streaming:rgb(89, 54, 149);
}
}
