.sidebar-2K8pFh,.sidebar-2K8pFh{
    background: var(--background-secondary-alt);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: var(--border-radius);
    .container-3w7J-x,.privateChannels-1nO12o{
        margin:10px;
        margin-top: 0px;
        background: transparent;
        border-radius: var(--border-radius);
        .container-1taM1r{
            margin-bottom: 10px;
            border-radius: var(--border-radius);
            background-color: var(--background-secondary);
            .header-2V-4Sw{
                height: 33px;
                background-color: var(--background-secondary);
                border-radius: var(--border-radius);
            }
        }
        .scroller-RmtA4e{
            background-color: var(--background-secondary);
            border-radius: var(--border-radius);
        }
    } 
    .panels-j1Uci_{
        margin:10px;
        margin-top: 0px;
        margin-bottom: 0px;
        border-radius: var(--border-radius);
        background-color: var(--background-secondary);
        .subtext-3CDbHg p {margin:4px;margin-left: 0;}
    }
}
.privateChannels-1nO12o{
    .searchBar-6Kv8R2,.scroller-1JbKMe{
        background-color: var(--background-secondary);
        border-radius: var(--border-radius);
    }
    .scroller-1JbKMe{
        margin-top: 10px;
    }
}
.liveShapeRound-32u79-{
    border-radius: var(--border-radius);
}