.form-2fGMdU{
    margin: 10px;
    background: var(--background-secondary-alt);
    border-radius: var(--border-radius);
    margin-top: 0px;
    &>div{
        margin-top: 10px;
    }
    &:before{
        display: none;
    }
    .channelTextArea-2VhZ6z,.scrollableContainer-2NUZem{
        border-radius: var(--border-radius);
    }
    .attachWrapper-2TRKBi{
        display: none;
    }
    .buttons-3JBrkn{
        &>[aria-label]{
            display: none;
        }
    }
    .autocomplete-1vrmpx,.autocompleteInner-zh20B_{
        border-radius: var(--border-radius);
        box-shadow: none;
        background: transparent;
        &>.autocompleteRow-2OthDa:first-child{
            background: var(--background-secondary-alt);
            border-radius: var(--border-radius);
            margin-bottom: 10px;
            box-shadow: var(--elevation-stroke),var(--elevation-high);
        }
        &>.autocompleteRow-2OthDa:not(:first-child){
            background: var(--background-secondary);
            border-radius: var(--border-radius);
            box-shadow: var(--elevation-stroke),var(--elevation-high);
        }
        &>.thin-1ybCId{
            background: var(--background-secondary);
            border-radius: var(--border-radius);
            box-shadow: var(--elevation-stroke),var(--elevation-high);
        }
        &>.rail-2CbP6L{
            background: var(--background-secondary-alt);
            border-radius: var(--border-radius) !important;
            margin-right: 10px;
            box-shadow: var(--elevation-stroke),var(--elevation-high);
            &>.wrapper-2Gsate{
                border-radius: var(--border-radius) !important;
                &>[style]{
                    border-radius: var(--border-radius) !important;
                }
            }
        }
    }
}