.peopleList-3c4jOR{
    &>div{
        display: grid;
        grid-gap:8px;
        grid-template-columns: repeat(auto-fill,calc(50% - 4px));
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 16px;
        padding-top:40px;
        .bfl-headerTitle{
            position: absolute;
            top:0px;
        }
    }
    .peopleListItem-2nzedh{
        background: var(--background-secondary-alt);
        border-radius: var(--border-radius);
        padding: 8px;
        z-index: 0;
        position: relative;
        transform: translateZ(0);
    }
}