@import "./userpopouts";
@import "./usrbg";
@import "./switches";
@import "./userpopouts";
@import "./tags";
@import "./appborder";
@import "./channels";
@import "./guilds";
@import "./channelicons";
@import "./avatar";
@import "./main";
@import "./members";
@import "./form";
@import "./titlebar";
@import "./unread";
@import "./unreadbar";
@import "./jumppresent";
@import "./settings";
@import "./search";
@import "./notice";
@import "./osxtitlebar";
@import "./user_modals";
@import "./badges";
@import "./backdrop";
@import "./status";
@import "./avatars";
@import "./divider";
@import "./toast";
@import "./winbut";
 
:root{
    --border-radius:6px;
    /* For UserStatus */
    --online:#43b581;
    --dnd:#f04747;
    --idle:#faa61a;
    --offline:rgb(116, 127, 141);
    --streaming:rgb(89, 54, 149);
}