.sidebar-2K8pFh+div,.hljs{
    border-radius: var(--border-radius) !important;
}
.sidebar-2K8pFh+div .scroller-2LSbBU::-webkit-scrollbar-track{
    margin-top: 47px;
    margin-bottom: 8px;
}
.layers-3iHuyZ>.layer-3QrUeG:first-child{
    opacity: 1 !important;
    transform: unset !important;
    
}
.scroller-2LSbBU{
    padding-top: 20px;
}
.stickyScroller-24zUyY>div,.stickyHeader-1pqx0j{
    margin-top: 50px;
}
.tabBody-3YRQ8W{
    margin-top: 50px;
}