.membersWrap-2h-GB4{
    margin:10px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 10px;
    background: transparent;
    border-radius: var(--border-radius);
    .members-1998pB{
        border-radius: var(--border-radius);
    }
}