.powercord-quickcss:not(.popout){
    position: fixed;
    width: 942.500px;
    left:259px;
    top:calc(var(--titlebar-height) + 120px);
    height: calc( 100vh - calc(var(--titlebar-height) + 140px));
    border-radius: var(--border-radius);
}