.searchResultsWrap-3-pOjs{
    margin-top:51px;
    margin-bottom: 10px;
    margin-right: 8px;
    background: transparent;
    .searchHeader-2XoQg7{
        border-radius: var(--border-radius);
    }
    .scroller-3GIiMh{
        border-radius: var(--border-radius);
        margin-top:10px;
        background: var(--background-secondary);
    }
}