.inner-1ilYF7{
    min-height: 100px;
    .content-3JfFJh{
        width: 100%;
    }
    .flex-1xMQg5{
        width: 800px;
        -webkit-box-orient: horizontal;
        flex-direction: row;
        [class*="topSection"]{
            width: 500px;
        }
        .body-3ND3kc{
            width: 300px;
            height: 100%;
        }
    }
}