.panels-j1Uci_{
  position:absolute;
  bottom:24px;
  z-index:1000;
  left:20px;
  border-radius:8px;
}
.container-3baos1{width:202px; height:44px;}
.panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp{
  position:fixed;
  left:24px;
  padding:5px;
  background:var(--background-secondary);
  border-radius:8px;
}
.unreadBottom-1_LF_w{margin-bottom:80px;}

.statusWithPopout-3ZfFol>.contents-18-Yxp{
  max-width: 110px;
}
.panels-j1Uci_{
  max-width: 220px;
}

.animatedContainer-1NSq4T{
  width: 218px;
  margin-left:11px;
  margin-top:11px;
  border-radius: 8px;
}

.scroller-2LSbBU::-webkit-scrollbar-track {
    margin-top: calc(3.3em + 0.5em);
}
.form-2fGMdU::before {
    display: none;
}

.channelTextArea-rNsIhG {
    background-color: transparent;
}


.jumpToPresentBar-G1R9s6{
  border-radius:8px;
  bottom:20px;
  padding:0px;
}


.toolbar-1t6TWx{
  position:relative;
  top: 30px;
  left:0px;
  padding:5px;
  background:var(--background-secondary-alt);
  border-radius:8px;
}
.children-19S4PO{
  position:relative;
  top: 30px;
  left:6px;
  padding:5px 5px 5px 5px;
  margin-right:40px;
  background:var(--background-secondary-alt);
  border-radius:8px;
}
.scrollerContent-WzeG7R.content-3YMskv{padding-top:40px;}
.children-19S4PO::after{
  display:none;
}
.title-3qD0b-{height:0px;}
.info-WdNIDE>.size14-e6ZScH{width:125px;}
.header-2V-4Sw{
  position: absolute;
  top:12px;
  background-color:var(--background-secondary-alt);
  width:220px;
  height:33px;
  border-radius:8px;
  left:10px;
}
.clickable-25tGDB .header-2V-4Sw:hover{
  background-color:var(--background-secondary-alt);
}
.scroller-3BxosC{
  position:relative;
}
.menu-3sdvDG{
  position:relative;
  margin-top:40px;
}
.searchHeader-2XoQg7,.scroller-3GIiMh{
  top:60px;
}
.searchHeader-2XoQg7{padding-bottom:60px;}
.newMessagesBar-265mhP{top:60px; border-radius:8px;}
.search-36MZv- {order: -1;}
.searchBar-3dMhjb {
    width: 28px;
    transition: width 0.6s ease-in-out;
    color:#fff;
    background: none;
}
.focused-31_ccS .searchBar-3dMhjb,
.open-6_Y_aH .searchBar-3dMhjb,
.searchBar-3dMhjb:hover {
    width: 240px;
    background: var(--background-tertiary);
}
.icon-3cZ1F_{height: 24px;width: 24px;color:var(--interactive-normal);}
.iconContainer-O4O2CN{bottom: 3px;}
.search-36MZv-{margin-left: 0px;}
.sprite-2iCowe{filter: grayscale(0%)!important;}
.attachWrapper-2TRKBi{
  display:none;
}
.buttonContainer-28fw2U:not(.message-translate-settings-button)>.button-38aScr:not(.emojiButton-pET4wH ):not(.message-translate-settings-button).colorBrand-3pXr91>.contents-18-Yxp:not(.stickerButton-3OEgwj){
  display:none;
}.stickerButton-3OEgwj{
  display:none;
}
.buttons-3JBrkn>.button-38aScr:not(.buttonWrapper-1ZmCpA ) {
  display:none;
}
[href="https://support.discord.com"]{display:none;}


.membersWrap-2h-GB4{
  margin-bottom:10px;
  margin-top:60px;
}
.members-1998pB{
  border-radius:8px;
  margin-right:10px;
}
.scroller-RmtA4e{
  margin-bottom:80px;
  margin-top:57px;
}
.scroller-RmtA4e{
  border-radius:8px;
  background:var(--background-secondary-alt);
  margin-left:10px;
  margin-right:10px;
}
.wrapper-1Rf91z{
  margin-bottom:80px;
}.wrapper-1Rf91z {
    margin-top: 67px!important;
  border-radius:8px;
}
.sidebar-2K8pFh{margin-left:10px;}
.scroller-2TZvBN{background:var(--background-secondary-alt)}
.app-1q1i1E{
  margin-left:10px;
}
.scroller-2TZvBN>.tutorialContainer-1v44GL{padding-top:10px;}
.scroller-RmtA4e>.content-3YMskv{
  padding-bottom: 120px;
}
.scroller-3GIiMh{
  margin-bottom: 60px;
}

.tutorialContainer-1v44GL {
    position: fixed;
    top: 24px;
    left: 11px;
  z-index: 100;
  padding: 0px;
  background: var(--background-secondary-alt);
  border-radius:8px;
}
.scroller-2TZvBN > .tutorialContainer-1v44GL {
    padding-top: 5px;
}
.pill-2uzAFe,.guildSeparator-3s64Iy{display:none;}
.tutorialContainer-1v44GL>.listItem-2P_4kh{
    width: 70px;
    left:.7px;
    top:1px;
}
.tutorialContainer-1v44GL>div>div>div>svg>foreignObject>.wrapper-1BJsBx>.childWrapper-anI2G9,.expandedFolderIconWrapper-1xLaU-,.expandedFolderBackground-2sPsd-{
  background: var(--background-tertiary);
}
.unreadTop-3rAB3r{top:45px;}
.avatar-SmRMf2{top:.5px;}
.avatar-SmRMf2>.mask-1l8v16>foreignObject{mask: none;border-radius: 8px;}
.size12-3cLvbJ{max-width:112px;}
.header-2V-4Sw{z-index: 5;}
.animatedContainer-1NSq4T{z-index: 4;}

.tabBody-3YRQ8W{
  margin-top: 55px;
}
.container-1r6BKw{height: 0px;}
.scroller-1JbKMe>.content-3YMskv{
  padding-bottom: 130px;
}
.sidebar-2K8pFh{
    border-bottom-left-radius: 8px!important;
    border-top-left-radius: 8px!important;
}
.platform-osx .sidebar-2K8pFh {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.chat-3bRxxu{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left:10px;
}
