
#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-idle)"]):not([mask="url(#svg-mask-status-dnd)"]):not([mask="url(#svg-mask-status-streaming)"]):not([mask="url(#svg-mask-status-idle-mobile)"]):not([mask="url(#svg-mask-status-dnd-mobile)"]) {
  fill: var(--online) !important;}
#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-online)"]):not([mask="url(#svg-mask-status-idle)"]):not([mask="url(#svg-mask-status-streaming)"]):not([mask="url(#svg-mask-status-online-mobile)"]):not([mask="url(#svg-mask-status-idle-mobile)"]) {
  fill: var(--dnd) !important;}
#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-dnd)"]):not([mask="url(#svg-mask-status-online)"]):not([mask="url(#svg-mask-status-streaming)"]):not([mask="url(#svg-mask-status-online-mobile)"]):not([mask="url(#svg-mask-status-dnd-mobile)"]) {
  fill: var(--idle) !important;}
#app-mount .wrapper-3t9DeA rect[fill="#ffffff"]:not([mask="url(#svg-mask-status-dnd)"]):not([mask="url(#svg-mask-status-online)"]):not([mask="url(#svg-mask-status-idle)"]):not([mask="url(#svg-mask-status-online-mobile)"]):not([mask="url(#svg-mask-status-dnd-mobile)"]):not([mask="url(#svg-mask-status-idle-mobile)"]) {
  fill: var(--streaming) !important;}


  
 .profileBadgeStaff-3BXdTO {
    background-image: url(/assets/4358ad1fb423b346324516453750f569.svg)!important }
 .profileBadgePartner-j6Lwhr {
    background-image: url(/assets/6203964d9d25c394a573fd4f6be36d97.svg)!important }
 .profileBadgeHypesquad-12E2P6 {
    background-image: url(/assets/6c73f47daf179ffade99f501bfc5101b.svg)!important }
 .profileBadgeHypeSquadOnlineHouse1-3rBtjf {
    background-image: url(/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg)!important }
 .profileBadgeHypeSquadOnlineHouse2-2oU04B {
    background-image: url(/assets/48cf0556d93901c8cb16317be2436523.svg)!important }
 .profileBadgeHypeSquadOnlineHouse3-1DoJkv {
    background-image: url(/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg)!important }
 .profileBadgeHypeSquadOnlineHouse1Winner-3wCl80 {
    background-image: url(/assets/26a2dc8c9d70955a988cb377eec84c22.svg)!important }
 .profileBadgeHypeSquadOnlineHouse2Winner-AS5bXe {
    background-image: url(/assets/88d4f11bee9ea34fee59973b33353da0.svg)!important }
 .profileBadgeHypeSquadOnlineHouse3Winner-2CwwQi {
    background-image: url(/assets/3245b2cd85b787b195ea8f6e10ef5790.svg)!important }
 .profileBadgeVerifiedDeveloper-195KfD {
    background-image: url(/assets/45cd06af582dcd3c6b79370b4e3630de.svg)!important }
 .profileBadgeEarlySupporter-2ng_jL {
    background-image: url(/assets/23e59d799436a73c024819f84ea0b627.svg)!important }
 .profileBadgePremium-1KDZYC {
    background-image: url(/assets/386884eecd36164487505ddfbac35a9d.svg)!important }
 .profileBadgeBugHunterLevel1-dbEzVz {
    background-image: url(/assets/f61b8981e92feead854f52e5a1ba14f0.svg)!important }
 .profileBadgeBugHunterLevel2-3TUciC {
    background-image: url(/assets/9286332d6e947c91fa91569efce431b0.svg)!important }
 .profileGuildSubscriberlvl1-3oI9tx {
    background-image: url(/assets/fbb6f1e160280f0e9aeb5d7c452eefe1.svg)!important }
 .profileGuildSubscriberlvl2-r6nJHT {
    background-image: url(/assets/b4b741bef6c3de9b29e2e0653e294620.svg)!important }
 .profileGuildSubscriberlvl3-38s3Dj {
    background-image: url(/assets/93f5a393e22796a850931483166d7cb9.svg)!important }
 .profileGuildSubscriberlvl4-2NXrsI {
    background-image: url(/assets/4c380650960c2b1e1584115d5e9ad63b.svg)!important }
 .profileGuildSubscriberlvl5-3XIa2K {
    background-image: url(/assets/438dd7ecbffcf21b6cbf2773ade51a04.svg)!important }
 .profileGuildSubscriberlvl6-3e3sxW {
    background-image: url(/assets/7a5f78de816fcecbbd1d5d6e635cc7dd.svg)!important }
 .profileGuildSubscriberlvl7-1dVhQT {
    background-image: url(/assets/5a24b20b84fb3eafc138916729386e76.svg)!important }
 .profileGuildSubscriberlvl8-1kXdFr {
    background-image: url(/assets/f31d590e1f3629cd0b614330f4a8ee2a.svg)!important }
 .profileGuildSubscriberlvl9-1d6zav {
    background-image: url(/assets/9ba64f1fa91ccde0eba506c1c33f3d1a.svg)!important }