
/*USer Popouts*/
.header-2BwW8b{
  border-radius: 8px;
  margin:5px;
  margin-top:10px;
  margin-right:10px;
  margin-left:10px;
}
.activityUserPopout-2yItg2{
  margin:10px;
  border-radius: 8px;}
.body-3iLsc4{
  border-radius: 8px;
  margin:5px;
  margin-bottom:5px;
  margin-right:10px;
  margin-left:10px;
}
.header-2BwW8b{
    background-color: var(--background-tertiary);
  }

  .topSectionStreaming-1Tpf5X+.body-3ND3kc,.headerStreaming-2FjmGz>.activityUserPopout-2yItg2{
    background-color:#593695;
  }
  .topSectionPlaying-1J5E4n+.body-3ND3kc,.headerPlaying-j0WQBV>.activityUserPopout-2yItg2{
    background-color:#7289da;
  }
  .topSectionSpotify-1lI0-P+.body-3ND3kc,.headerSpotify-zpWxgT>.activityUserPopout-2yItg2{
    background-color:#1db954;
  }
  .topSectionXbox-3fWLjS+.body-3ND3kc,.headerXbox-3G-4PF >.activityUserPopout-2yItg2{
    background-color: #107c10;
  }
.rolesList-22qj2L ~ div {
    display: none;
}
.footer-1fjuF6{
  border-radius: 8px;
  padding-top:10px;
  padding-bottom:10px;
  margin:5px;
  margin-right:10px;
  margin-left:10px;
}#x3pzz2f-e4o1gwm{display:none}
.protip-YaFfgO{display:none;}
.userPopout-3XzG_A{
  background: var(--background-secondary-alt);}



.header-QKLPzZ{
background-color: var(--background-tertiary);
}
.activity-1ythUs,.tabBarContainer-1s1u-z{
background-color: var(--background-tertiary);
}

.header-QKLPzZ{
  border-radius: 8px;
  margin:5px;
  margin-top:10px;
  margin-right:10px;
  margin-left:10px;
}
.activityUserPopout-2yItg2{
  margin:10px;
  border-radius: 8px;}
.activity-1ythUs,.tabBarContainer-1s1u-z{
  border-radius: 8px;
  margin:5px;
  margin-bottom:5px;
  margin-right:10px;
  margin-left:10px;
}
.topSectionNormal-2-vo2m{
    background-color: var(--background-secondary);
}
.userInfoSection-2acyCx{
    background-color: #202225;
    position: relative;
  border-radius: 8px;
  margin:5px;
  margin-bottom:5px;
  margin-right:10px;
  margin-left:10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 560px;
  right:20px;
}
